# Compiled class files
*.class

# Log files
*.log

# IntelliJ IDEA project files
.idea/

# NetBeans project files
nbproject/

# Compiled Java binary
build/

# User-specific files
.gradle/
.vscode/

# macOS metadata files
.DS_Store

# Compiled Java bytecode
*.jar

# Temporary files
*.tmp

# Eclipse project files
.classpath
.project
.settings/

# Ignore all files in logs directory
logs/*

# Ignore all files in objects directory
.objects/*

# Ignore all files in the build directory
build/*

# Ignore all files in the target directory (if applicable)
target/
